.contactMain {
    background-image: url('/media/otherImgs/coolImgThingy.jpeg');
    display: inline-block;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 5%;
}

.contactContent {
    margin: auto;
    padding: 10px;
    position: relative;
    width: 80%;
    display: inline-block;
    background-color: white;
    text-align: center;
    justify-content: center;
}

.contText {
    margin: 1px;
    font-family: 'Nunito';
}

.contField {
    width: 100%;
}

.contHalf {
    width: 49.5%;
}

.contLeft {
    float: left;
}

.contRight {
    float: right;
}

.message {
    resize: vertical;
    overflow: auto;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;  
}

::-moz-placeholder {
    font-style: italic;  
}
:-ms-input-placeholder {  
    font-style: italic; 
}