.contactMain {
    background-image: url('/media/otherImgs/coolImgThingy.jpeg');
    display: inline-block;
    margin: 0 auto;
}

.contactContent {
    padding: 10%;
    position: relative;
    width: 80%;
    display: inline-block;
    background-color: white;
    text-align: center;
    justify-content: center;
}

.contField {
    width: 100%;
}

.message {
    resize: vertical;
    overflow: auto;
}